<%= form_for @message, :url => contact_us_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.text_field :name, :class => "form-control", :placeholder => "Name", :maxlength => 40 %>
    </div>
    <div class="field" style="margin-top: 20px;">
      <%= form.text_field :email, :class => "form-control", :placeholder => "Email", :maxlength => 40 %>
    </div>
    <div class="field" style="margin-top: 20px;">
      <%= form.text_field :subject, :class => "form-control", :placeholder => "Subject", :maxlength => 90 %>
    </div>
    <div class="field" style="margin-top: 20px;">
      <%= form.text_area :body,  :class => "form-control", :rows => 5, :placeholder => "Content", :maxlength => 650 %>
    </div>
  </fieldset>
  <fieldset class="actions action-spacing">
    <div class="field" style="margin-top: 20px;">
    <%= form.submit "Send", :class => "btn btn-info" %>
    <div class="flash-notice label label-danger"><%= flash[:error] %></div>
  </fieldset>
<% end %>