<h3>Here are the items you bought:</h3>
<ul>
	<% @cart.line_items.each do |item| %>
	<li><%= item.quantity %> &times; <%= item.size %> <%= item.color %> <%= item.product.name %><br>
	at $<%= item.product.price %> each</li>
	<% end %>
</ul>  
<p>Total Amount Spent: $<%= @cart.total_price %></p>
<ul>Details:
<li>Email Address: <%= @charge.receipt_email %></li>
<li>Credit Card: <%= @charge.card.brand %></li>
<li>Last 4 digits of CC: <%= @charge.card.last4 %></li>
<li>Expiration Date: <%= @charge.card.exp_month %>/<%= @charge.card.exp_year %></li>
</ul>