<h3>Hi <%= @charge.card.name %>,
<p>Thank you for your purchase from CALove. You have ordered the following: </p>
<ul>
	<% @cart.line_items.each do |item| %>
	<li><%= item.quantity %> &times; <%= item.size %> <%= item.color %> <%= item.product.name %></li>
	<% end %>
</ul>  
<p>Total Amount Spent: $<%= @cart.total_price %></p>
<p>You will receive an email from us when your order has shipped.</p>
<p>Sincerely,</p>
<p>CALove</p>