<h3>Here are the items <%= @charge.card.name %> (<%= @charge.receipt_email %>) bought:</h3>
<ul>
	<% @cart.line_items.each do |item| %>
	<li><%= item.quantity %> &times; <%= item.size %> <%= item.color %> <%= item.product.name %><br>
	at $<%= item.product.price %> each</li>
	<% end %>
</ul>  
<p>Total Amount Spent: $<%= @cart.total_price %></p>
<p>You will receive an email from us when your order has shipped!</p>