<h3>Here are the items <%= @charge.card.name %> (<%= @charge.receipt_email %>) bought:</h3>
<ul>
	<% @cart.line_items.each do |item| %>
	<li><%= item.quantity %> &times; <%= item.size %> <%= item.color %> <%= item.product.name %><br>
	at $<%= item.product.price %> each</li>
	<% end %>
</ul>  
<p>Total Amount Spent: $<%= @cart.total_price %></p>
<ul>Details:
	<li>Shipping Information: <%= @charge.metadata.shipping_address %></li>
	<li>Billing Information: <%= @charge.card.name %>, <%= @charge.card.address_line1 %>, <%= @charge.card.address_city %>, <%= @charge.card.address_state %>, <%= @charge.card.address_zip %>, <%= @charge.card.address_country %>
	<li>Email Address: <%= @charge.receipt_email %></li>
	<li>Credit Card: <%= @charge.card.brand %></li>
	<li>Last 4 digits of CC: <%= @charge.card.last4 %></li>
	<li>Expiration Date: <%= @charge.card.exp_month %>/<%= @charge.card.exp_year %></li>
</ul>