<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<td><%= line_item.quantity %> &times;</td> 
<td><%= line_item.size %></td>
<td><%= line_item.color %></td>
<td><%= line_item.product.name %></td>
<td>$<%= line_item.total_price %><td><%= link_to 'Remove', line_item, method: :delete, remote: true, :class => 'delete-item' %> </td></td>
</tr>

